.flex-container {
    display: flex;
    background-color: gold;
    padding: 5px;
    min-height: 5900px;
    flex-wrap: wrap;
}

.flex-container img {
    margin-top: 10px;
    transition: all 0.9s;
}

.flex-container img:hover {
    transform: scale(1.05);
    transition: all 0.9s;
}

.flex-item {
    background-color: #78e667;
    width: 400px;
    height: 400px;
    margin: 10px;
    flex: 25%;
}

img {
    width: 100%;
}

#ciudad {
    width: 100%;
}

@media only screen and (min-width:200px) and (max-width:767px){
    .flex-item {
        flex: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .flex-item{
        flex: 40%;
    }
}

@media only screen and (min-width:1024px) {
    .flex-container {
    min-height: 5900px;
}
}