.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gold;
    padding: 5px;
    height: 6500px;
    /* @include movil(){
        height: 3500px;
    } */
    & img {
        margin-top: 10px;
        transition: all 0.9s;
    }
}

.flex-container img:hover {
    transform: scale(1.05);
    transition: all 0.9s;
}

.flex-item {
    background-color: gold;
    width: 400px;
    height: 400px;
    margin: 10px;
    flex: 25%;
    /* @include movil(){
        flex: 100%;
    } */
}

img {
    width: 100%;
    border-radius: 20px;
}

#ciudad {
    width: 100%;
}

@include movil(){
    .flex-container {
        height: 28500px;
    }
    .flex-item {
        flex: 100%;
    }
}

/* @media only screen and (min-width:200px) and (max-width:767px){
    .flex-item {
        flex: 100%;
    }
} */

/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .flex-item{
        flex: 40%;
    }
}

@media only screen and (min-width:1024px) {
    .flex-container {
    min-height: 5900px;
}
} */