.historia {
    font-size: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

h3 {
    margin-left: 20px;
    font-family: $fuente3;
    .comollegar {
        margin-left: 300px;
        margin-bottom: 25px;
        display: inline-block;
        width: 1000px;
    }
}

.comollegar {
    font-size: 70px;
    display: flex;
    font-family: nexa;
    font-weight: 900;
    text-transform: uppercase;
}

.distancia1 {
    width: 70%;
}

#km {
    text-transform: uppercase;
    font-weight: 900;
}

#km:hover {
    color: gold;
}

.distancia {
    font-size: 30px;
    font-family: nexa;
    font-weight: 500;
    background-color: #000;
    color: white;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin: 30px;
    padding: 50px;
}

.viaje {
    @extend .distancia;
    width: 700px;
    height: auto;
    text-align: left;
    padding-left: 80px;
}

@include movil(){
    .distancia {
    font-size: 40px;
    margin: 20px;
    margin-left: 25px;
    width: 1000px;
    }
}