#historia {
    background-color: #000;
    background-image: url(./images/banners/1.jpg);
    background-position: center;
    background-size: cover;
    color: $color3;
    font-family: nexa;
    font-weight: 600;
    font-size: 30px;
    max-width: 1600px;
    display: flex;
    padding: 150px;
    border-radius: 30px;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    p {
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        padding: 20px;
    }
}

#historia1 {
    @extend #historia ;
    background-image: url(./images/banners/2.jpg);

}

.suhistoria {
    display: inline-block;
}

.historia {
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
}

@media only screen and (min-width:200px) and (max-width:767px){
    #historia {
        margin: 0;
        padding: 100px;
        width: 1000px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
}