// Paleta de colores
$color1: #9EF01A;
$color2: #38B000;
$color3: #084d6e;
$color4: #78e667;
$color5: #80ff00;
$color6: #0066cc;
$color7: #FFD700;
$color8: #ff006e;
$color9: #7400b8;

//fonts
$fuente1: 'nexa';
$fuente2: 'Rajdhani', sans-serif;
$fuente3: Verdana, Geneva, Tahoma, sans-serif;
$fuente4: 'Pacifico', cursive;
$fuente5: 'Pacifico';


@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Rajdhani:wght@700&display=swap');
/* font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Rajdhani', sans-serif; */

@font-face {
    font-family: 'nexa';
    src: url(/fonts/Nexa-ExtraLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to top, #53f01a 0%, rgb(179, 255, 160) 100%);
    margin: 0;
    padding: 0;
}

.logo img {
    height: 150px;
    width: 100%;
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(56, 176, 0);
    background: linear-gradient(0deg, rgba(56, 176, 0, 1) 25%, rgba(0, 255, 106, 1) 95%);
    height: 180px;
    align-items: end;
    padding: 0px 5px 4px 0;
}

.titulo {
    font-family: $fuente2;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.4s;
    background: rgb(237,238,174);
    background: radial-gradient(circle, rgba(237,238,174,0.3561799719887955) 0%, rgba(80,214,75,0.7483368347338936) 100%);
}

.titulo:hover {
    color: gold;
    text-shadow: 0 0 7px #000, 0 0 7px #000, 0 0 7px #000, 0 0 7px #000;
    transition: all 0.4s;
}

.esquina {
    font-size: 150px;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    margin-left: 100px;
    margin-top: 100px;
}

.carousel-inner {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    background-color: black;
    font-family: $fuente1;
    text-decoration: none;
    font-weight: 900;
    padding-right: 30px;
    font-size: 23px;
    border-radius: 7px;
    padding: 4px;
    margin-right: 3px;
    transition: all 0.6s;
    ;
}

nav a:hover {
    color: gold;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.6s;
    padding: 10px 15px 8px 15px;
}

nav a:active {
        transform: scale(0.95);
    }

#carouselExampleIndicators {
    border: #fff solid 2px;

    & li {
        height: 5px;
        background-color: goldenrod;
    }
}

h2 {
    font-family: 'Pacifico';
    font-weight: 500;
    text-transform: capitalize;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.4s;
}

h2:hover {
    color: gold;
    text-shadow: 0 0 7px #000, 0 0 7px #000, 0 0 7px #000, 0 0 7px #000;
    transition: all 0.4s;
}

.subtitulo {
    color: #fff;
    background-color: #1caa74;
    display: flex;
    max-height: 500px;
    width: 100%;
    border: 3px solid rgb(254, 182, 0);
    padding: 20px;
    font-size: 25px;
    align-items: center;
    margin-bottom: 20px;
}


.subtitulo1 {
    @extend .subtitulo;
    width: 100%;
}

.subtitulo2 {
    @extend .subtitulo;
    height: 300px;
    width: 100%;
    margin-bottom: 100px;
}

#foto {
    transition: all 0.9s;
}

#foto:hover {
    transform: scale(1.09);
    transition: all 0.9s;
}

//maps - incio

$banners: (
    /*Declaramos nuestro mapa*/
    pesca: #0066cc,
    playa: #FFD700,
    carnaval: #ff006e,
    festivales: #7400b8,
);

/*Creamos el bucle para usar los valores del mapa*/
@each $red,
$font in $banners {
    .banner--#{$red} {
        color: #fff;
        background-image: url(./images/banners/pesca.avif);
        background: linear-gradient(rgba(5,7,12,0.75)),(rgba(5,7,12,0.75));
        background-position: center;
        background-size: cover;
        display: inline-block;
        height: 500px;
        width: 100%;
        border: 3px solid white;
        padding: 20px;
        font-size: 25px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        padding-right: 1000px;
        padding-left: 100px;
        padding-top: 100px;
        margin-bottom: 75px;
        overflow: auto;
        p {
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 20px;
            padding: 20px;
        }
    }
}

//maps -fin

.banner--playa {
    background-image: url(./images/banners/playa.avif);
    background-position: center;
    background-size: cover;
}

.banner--carnaval {
    background-image: url(./images/banners/carnaval.avif);
    background-position: center;
    background-size: cover;
}

.banner--festivales {
    background-image: url(./images/banners/festivales.avif);
    background-position: center;
    background-size: cover;
    p {
        background: linear-gradient(rgba(5,7,12,0.75)), (rgba(5,7,12,0.75));
    }
}

footer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    padding: 20px;

    & p {
        margin-bottom: 20px;
    }
}

.redes a {
    letter-spacing: 5px;
    font-size: 50px;
    color: #fff;
}

.redes a:hover {
    color: gold;
}

.subir {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-family: 25px;
    color: #fff;
    background-color: #70e000;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 2px solid white;
}

.final {
    color: white;
}

.final:hover {
    color: gold;
}

.subir:hover {
    box-shadow: 0 0 20px white;
}

@mixin movil() {
    @media only screen and (max-width:480px) {
        @content;
    }
}

@include movil() {
    header {
        flex-direction: row;
        width: 100%;
        height: 1280px;
        display: inline-block;
    }

    body {
        width: 1200px;
    }

    nav {

        a {
            color: #FFF;
            height: 120px;
            width: 93%;
            background-color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            font-size: 60px;
            border-radius: 20px;
            padding: 25px;
            position: relative;
            display: block;
            margin: 25px;
        }
    }

    .logo img {
        height: 300px;
        width: 100%;
        padding-bottom: 10px;
        }

    #carouselExampleIndicators {
        width: 1200px;
    }

    h2 {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .subtitulo {
        width: 1000px;
        text-align: center;
    }

    .subtitulo1 {
        width: 1000px;
        height: 600px;
        margin-bottom: 25px;
        text-align: center;
        justify-content: center;
    }

    .subtitulo2 {
        width: 1000px;
        height: 500px;
        text-align: center;
        justify-content: center;
    }

    .banner--pesca {
        height: 1200px;

        h2 {
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }

    .banner--playa {
        height: 1200px;
        background-image: url(./images/banners/playa.avif);
        background-position: center;
        background-size: cover;
        h2 {
            margin-top: 500px;
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }

    .banner--carnaval {
        height: 1200px;

        h2 {
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }

    .banner--festivales {
        height: 1200px;

        h2 {
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }

    footer {
        width: 1200px;
    }
}


@media only screen and (min-width: 481px) and (max-width: 1200px) {
    header {
        flex-direction: row;
        min-width: 1110px;
        height: 230px;
    }

    body {
        width: 1200px;
    }

    h2 {
        margin-left: 500px;
    }

    .pestañas {
        display: flex;
    }

    #carouselExampleIndicators {
        width: 1110px;
    }

    h2 {
        display: flex;
        text-align: center;
    }

    .subtitulo {
        width: 1000px;
        text-align: center;
    }

    .subtitulo1 {
        width: 1000px;
        height: 600px;
        margin-bottom: 25px;
        text-align: center;
        justify-content: center;

    }

    .subtitulo2 {
        width: 1000px;
        height: 500px;
        text-align: center;
        justify-content: center;
    }

    .banner--pesca {
        height: 1200px;

        h2 {
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }

    .banner--playa {
        height: 1200px;

        h2 {
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }


    .banner--carnaval {
        height: 1200px;

        h2 {
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }

    .banner--festivales {
        height: 1200px;

        h2 {
            margin-left: 450px;
            font-size: 100px;
        }

        p {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            margin-left: 100px;
        }
    }

    footer {
        width: 1106px;
    }
}

/* fin index */

@import "_ciudad";
@import "_servicios";
@import "_historia";
@import "_comollegar";